S3method(print,rapidr.ref)
S3method(print,rapidr.test)
export(createReferenceSetFromCounts)
export(makeBinnedCountsFile)
export(makeGCContentData)
export(plotTestSample)
export(testUnknowns)
export(writeCleanedCountsFile)
export(writeResultsToFile)
import(GenomicRanges)
import(PropCIs)
importFrom(Biostrings,letterFrequencyInSlidingView)
importFrom(Rsamtools,BamFileList)
importFrom(Rsamtools,ScanBamParam)
importFrom(Rsamtools,scanBam)
importFrom(data.table,fread)
